@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-slate-300 relative;
}

.message-body {
  height: 100vh;
  /* background-color: aqua; */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}
