@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-slate-300 relative;
}

.message-body {
  height: 100vh;
  /* background-color: aqua; */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

.my-message::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #86EFAC;
  transform: rotate(180deg);
  bottom: -8px; 
  right: 8px;
}

.someones-message::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #22c55e;
  transform: rotate(0deg);
  top: -8px; 
  left: 8px;
}
